@model WypozyczalniaSamochodow.Models.Car

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <div class="col-lg-4 container-details">
        <img src="/images/@Html.DisplayFor(model => model.ImageName).@Html.DisplayFor(model => model.ImageExtension)" alt="obrazek"/>
    </div>
    <div class="col-lg-8">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.license)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.license)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.registrationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.registrationDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>

        </dl>
    </div>
</div>
<div class="col-lg-12">
    <p>
        @if(Roles.IsUserInRole("admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) 
            <p>|</p>
        }
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>