@model IEnumerable<WypozyczalniaSamochodow.Models.Car>

@{
    ViewBag.Title = "Our car list";
}

<h2>Our car list</h2>

<p>
    @if (Roles.IsUserInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.license)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.registrationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="/images/@Html.DisplayFor(modelItem => item.ImageName).@Html.DisplayFor(modelItem => item.ImageExtension)" height="42" width="42"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.license)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.registrationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ID })
            @if (Roles.IsUserInRole("Admin"))
            {
                <p>|</p> @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                <p>|</p> @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            }
        </td>
    </tr>
}

</table>
